body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    color: #192b59;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;

}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}
.title-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.1px;

}
.title-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 20px;
}
.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto; 
}
.page-stat .title-h2 {
    max-width: 500px;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav>li {
    padding: 0 15px 0 0;    
}
.nav-item {
    color: #6e7ea9;
}
.btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #1085e4;
    border: solid 1px #1085e4; 
    border-radius: 46px; 
    letter-spacing: 2.5px;  
}
.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
}
.btn-secondary {
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    background-color: #cbdbe8;
    border: solid 1px #cbdbe8;  
    border-radius: 30px;  
    letter-spacing: 1.7px; 
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 57px;
    letter-spacing: 1.7px;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn-info {
    color:#8085b1 ;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    border-radius: 30px;
    padding: 20px 41px;  
}
.btn-info:hover {
    background-color: #8085b1;
    color: #fff;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight:  700;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    color: #00006c;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}
.box-price {
    display: flex;
    justify-content: space-between;
}
.box-price-item {
    background-color: #f5faff;
}
.box-price-item.active {
    background-color: #192b95;
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
}

/* PAGE */
.page-stat, .page-screen {
    background-color: #edf6ff;
}
.page-screen {
    padding: 116px 0 96px 0;
}
.page-plan, .page-screen {
    text-align: center;
}
.page-screen {
    padding: 116px 0 0 0;      
}
